.DS_Store
.swp
.tmp.xml

# ISO files
iso-*.html
iso-*.doc
iso-*.xml
iso-*_files
~*.doc
~*.docx

# compiled documents
documents/*

# compiled adoc files of models
sources/models/adoc/**/*.adoc

# compiled files of plantuml models
sources/models/plantuml/**/*.wsd
sources/plantuml/*

# relaton cache
relaton/cache/*